  /* You can add global styles to this file, and also import other style files */
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading {
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(16, 3, 63);
  border: 1px solid rgb(49, 82, 231);
  color:rgb(245, 244, 244);
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  width:fit-content;
  margin-top: 10px;
  margin-bottom: 15px;
}
.display-products {
  border: 1px solid gray;
  padding: 3px;
  background-color: rgb(221, 221, 221);
  font-size: 12px;
}

.nice-button{
  font-size: 12px;
  padding: 1px;
  margin: 4px
}
.table-heading {
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
}

.notifier {
  padding: 10px;
  border: 1px solid silver;
  background-color: rgb(223, 210, 168);
  margin-top: 7px;
  width: 100% ;
  text-align: center;
}

.display-items{
  background-color: rgb(202, 234, 247);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3px;
  border-bottom: 1px dotted skyblue;
  color: rgb(59, 59, 59);
}
.container {
  padding: 10px;
  width: 70%;
  background-color: rgb(239, 253, 244);
}

.loader {
  padding: 5px;
  background-color: rgb(215, 233, 250);
  border-radius: 3px;
  border: 1px dotted;
  border-color: darkgray;
  width: 150px;
}

button{
  margin-right: 1vw;
  background: #4285F4;
  color: white;
  font-size: 9px;
  line-height: 18px;
  height: auto;
  width: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
